<% @posts.each do |post| %>
  <%= link_to post_path(post.id) do %>
    <h5><%= post.title %>
      <span> - <%= post.created_at.localtime.strftime("%b %d %I:%M") %> </span>
    </h5>

    <%= image_tag post.image.url(:small) %> 
  <% end %>

  <p><%= post.description %></p>
<% end %>
