<h3>Post</h3>

<h5>
  <%= @post.title %> 
  <span> - <%= @post.created_at.localtime.strftime("%b %d %I:%M") %> </span>
</h5>

<p><%= @post.description %> </p>
<img src=<%= @post.image.url %> />

<br />

<% if current_user && current_user.admin? %>
  <%= link_to "Edit this post", edit_post_path(@post) %>
<% end %>

<h3>Comments</h3>

<%= form_for [@post, Comment.new] do |f| %>
  <%= f.text_area :body, placeholder: "Add a comment" %><br/>
  <%= f.button "Add Comment", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Submitting..." } %>

<% end %>

<ul class="collection">
  <%= render partial: 'comments/comment', collection: @post.comments %>
</ul>

<%= link_to "All Posts", posts_path %>

