<h3>Post</h3>

<h5>
  <%= @post.title %> 
  <span> - <%= @post.created_at.localtime.strftime("%b %d %I:%M") %> </span>
</h5>
<p><%= @post.description %> </p>
<img src=<%= @post.image.url %> />

<br />

<% if current_user && current_user.admin? %>
  <%= link_to "Edit this post", edit_post_path(@post) %>
<% end %>

<%= link_to "All Posts", posts_path %>

